<app-header></app-header>
<div class="orders-container">
  <h2  class="title">Your Orders</h2>
  <div class="col-md-4 text-right">
    <button (click)="downloadPdf()">Download PDF</button>
    <button (click)="openPDF()">Open PDF</button>
    <button (click)="fetchAcceptedOrders()" [ngClass]="{ 'active': activeButton === 'acceptedOrders' }">Accepted Orders</button>
    <button (click)="fetchDeclinedOrders()" [ngClass]="{ 'active': activeButton === 'declinedOrders' }">Declined Orders</button>
  </div>
  <ng-container *ngIf="(acceptedOrders$ | async)?.length; else noOrdersPlaced">
    <div *ngFor="let order of acceptedOrders$ | async; let i = index">
     <mat-card class="item">
      <mat-card-content>
        <h1>{{ i + 1 }} ) {{ order.userName }}</h1>
        <p><b>Delivery Charge: </b>{{ 100.00 | currency: '₹' }}</p> 
        <p><b>Total Amount: </b> {{ order.totalAmount + 100.00 | currency: '₹' }} (Delivery Charge included)</p>
        <p><b>Order ID: </b> {{ order.id }}</p>
        <p><b>Order Placed At:</b> {{ order.orderPlacedAt | timestampToDate }}</p>
        <p><b>Status:</b> {{order.status}}</p>
        <b>Your Order's List: </b>
        <br><br>
        <table mat-table [dataSource]="order.items" class="mat-elevation-z8">

          <ng-container matColumnDef="sr-no">
            <th mat-header-cell *matHeaderCellDef>Sr No.</th>
            <td mat-cell *matCellDef="let task; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let product">{{ product.name }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product">{{ product.price | currency: '₹' }}</td>
          </ng-container>

          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let product">{{ product.count }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['sr-no','name', 'price', 'count']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['sr-no','name', 'price', 'count'];"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<ng-template #noOrdersPlaced>
  <h1  class="no-orders-message">No orders placed</h1>
</ng-template>
  </div>