.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-table th, .order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-table th {
  background-color: #f2f2f2;
}

.order-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-details-table th, .order-details-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-details-table th {
  background-color: #f2f2f2;
}

.item {
  margin: 40px;
}

.title{
  text-align: center;
  font-size: 35px;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  width: 48%;
  margin-top: 20px;;
}

mat-card {
  padding: 20px;
  box-sizing: border-box;
}

app-address-home {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

a {
  color: #1565c0;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

button {
  background-color: #003d18;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 40px;
  width: 200px;
}

button:hover {
  background-color: #004080;
}

.active {
  background-color: blue;
  color: white;
}

.orders-container {
  position: relative;
}

.no-orders-message {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}