.home-start{
  min-width: 1000px;
}

.tabs a b {
  color: rgb(0, 53, 100) !important;
  font-size: 24px;
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  border: 2px solid rgb(0, 50, 94);
  margin: 10px 30px 0px 30px;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

.list {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: calc(33.33% - 16px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin-bottom: 8px;
    font-size: 18px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 4px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: #2196F3;
    color: #fff;
  }
}

.empty-label {
  font-size: 16px;
  color: #555;
}

@media screen and (max-width: 1200px) {
  .list {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .item {
    width: calc(100% - 16px);
  }
}