<div class="order-container-wrapper">
  <mat-card class="order-summary-card">
    <mat-card-title>
      <h1><b>ORDER SUMMARY</b></h1>
    </mat-card-title>
    <mat-card-content>
      <div>
        <p><b>SubTotal : {{ totalAmount | currency: '₹' }} </b></p>
        <p>Delivery Charge: {{ delivery_charge | currency: '₹' }}</p>
      </div>
      <hr>
      <p class="order-total"><b>Order Total: {{ totalAmount + delivery_charge | currency: '₹' }}</b></p>
    </mat-card-content>
  </mat-card>
</div>
