.content-wrapper {
  margin-left: 180px;
  .container {
    max-width: 1500px;
  }

  .search {
    min-width: 200px;
    width: 100%;

    @media (min-width: 600px) {

      min-width: 300px;
    }

    @media (min-width: 800px) {
      min-width: 400px;
    }
  }
}

img {
  width: 100px;
  height: 150px;
}

mat-header-cell {
  max-width: 800px;
  background-image: linear-gradient(rgb(174, 165, 248), rgb(154, 234, 238)) !important;
}

mat-cell {
  max-width: 1000px;
  height: 180px;
  margin-top: 10px;
  background-image: linear-gradient(rgb(144, 229, 250), rgb(233, 233, 226));
}

.mdc-data-table__cell.description {
  box-sizing: border-box;
  overflow-x: scroll;
  text-align: left;
}

.add-product {
  margin-top: 30px;
  margin-bottom: 20px;
  color: aliceblue;
  background-color: rgb(95, 89, 185);
}

mat-paginator {
  background-image: linear-gradient( rgb(154, 234, 238),rgb(174, 165, 248));
  max-width: 1500px;
  margin-top: 20px;
  font-weight: 700;
}