.container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background-color: white;
  border: 5px solid rgb(145, 143, 143);
  padding: 10px;
  margin-top: 20px;
  width: 55% !important;
  overflow: auto;
  margin-left: 150px;
}

.product-image {
  width: 200px;
  height: 300px;
  margin-right: 16px;
  cursor: pointer;
}

.item-details {
  flex: 1;
}

.container h1 {
  text-align: center;
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
}

.order-summary-card {
  margin-right: 100px;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid rgb(145, 143, 143);
  font-family: 'Times New Roman', Times, serif;
}

.order-summary-card h1 {
  font-size: 28px;
  padding: 10px;
  text-align: center;
  text-decoration-line: underline;
  font-family: 'Times New Roman', Times, serif;
}

.order-total {
  color: rgb(238, 112, 10);
}

.buttons-container button{
  width: 400px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.cart-form {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: white;
  padding-top: 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-container-wrapper {
  position: absolute;
  top: 100px;
  right: 20px;
  z-index: 999;
}

.subtotal h2{
 display: flex;
 justify-content: right;
 width: 100%;
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.name-and-price h2 a{
 cursor: pointer;
}

.price-common{
  display: flex;
  justify-content: right;
  width: 85%;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 15px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.item-checkbox{
  margin-right: 20px;
}