.product-details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-details:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.product-details p {
  margin-bottom: 8px;
}

.content-wrapper{
  margin-left: 80px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.item {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 320px;
  font-size: 17px;
  height: 580px;
  max-height: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(2, 2, 2);

  &:hover {
    box-shadow: 10px 18px 10px rgba(0, 0, 0, 0.2);
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin-bottom: 8px;
    cursor: pointer;
    padding-top: 20px;
  }

  p {
    margin-bottom: 4px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .primary {
    background-color: #000000;
    color: #fff;
  }

  .name {
    color: blue;
    font-size: large;
    cursor: pointer;
  }

  .name:hover {
    background-color: #f5f117;
  }
}

.empty-label {
  font-size: 16px;
  color: #555;
}

h1 {
  margin-bottom: 58px;
  font-size: 52px;
  text-align: center;
}