mat-header-cell {
  font-weight: bold;
}

mat-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-image: linear-gradient(rgb(144, 229, 250), rgb(233, 233, 226));
  font-size: medium;
  font-style: italic;
}

mat-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-image: linear-gradient(rgb(174, 165, 248), rgb(154, 234, 238));
  font-size: larger;
}

mat-cell {
  flex: 1;
}

mat-slide-toggle {
  margin-left: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pagination-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.noaddress {
  color: red;
}

mat-paginator {
  background-image: linear-gradient( rgb(154, 234, 238),rgb(174, 165, 248));
  font-weight: 700;
}

.user-table{
  margin-left: 100px;
  max-width: 1500px;
  .search{
    min-width: 200px;
    width: 100%;
    @media (min-width: 600px) {
      min-width: 300px;
    }
  }
}

.search-bar{
  background-image: linear-gradient(rgb(174, 165, 248), rgb(154, 234, 238));
}